.main_photo{
    animation: start_arise 2s linear;
    margin: 80px 24px 16px;
    padding: 0;
}

#photos{
    display: flex;
    justify-content: center;
}

h3{
    color: dimgray;
    font-weight: bold;
    font-family: sans-serif;
    margin: 32px;
}

.left_photo{
    animation: start_arise 2s linear;
    margin: 16px;
}
