body{
    width: 100%;
}

.main{
    width: 100%;
    margin-top: 80px;
}

footer{
    margin: 32px;
}

div.card{
    height: max-content;
    animation: div_increment 2s linear;
    margin: 24px;
    padding: 0;
    border-radius: 8px;
    border: solid rgba(126, 126, 126, 0.25) 0.5px;
    box-shadow: 0.5px 0.5px rgba(126, 126, 126, 0.25);
    background-color: cornsilk;
}

@keyframes div_increment {
    from {
        transform: scale(1.08);
    }

    to {
        transform: scale(1.0);}
}

div.card:hover {
    -webkit-animation: div_hover 5s linear infinite;
}

@-webkit-keyframes div_hover {
    from {
        transform: scale(1.08);}

    to {
        transform: scale(1.08);}
}

#image, img{
    width: 100%;
    height: auto;
    margin: 0;
    border-radius: 8px 8px 0 0;
    box-shadow: 0 1px rgba(126, 126, 126, 0.2);
}

h4, h6{
    color: dimgray;
    font-family: Rubik;
    margin: 0;
    padding: 8px;
    text-align: center;
}

h6{
    font-weight: bold;
    padding-bottom: 0;
}
p{
    margin: 0;
    padding: 8px;
}

#collapse_target{
    animation: none;
}
